

<br>
    <form method="post">
        <fieldset class=form-group">

            <div class="form-group row required">
                <label class="col-sm-2 control-label" for="studentLookup"> Student: </label>
                <select class="col-sm-10" class="form-control" name="studentInvolved"
                        required="required">
                    {{#students}}
                        <option value="{{_id}}"> {{studentId}} - {{firstName}} {{lastName}}</option>
                    {{/students}}
                </select>
            </div>

            <div class="form-group row required">
                <label class="col-sm-2 control-label" for="typeOfIncident"> Type of Incident: </label>
                <select class="col-sm-10" class="form-control" name="typeOfIncident"
                        required="required">
                    {{#incidentType}}
                        <option value="{{_id}}"> {{type}}</option>
                    {{/incidentType}}
                </select>
            </div>

            <div class="form-group row required">
                <label class="col-sm-2 control-label" for="date">Date:</label>
                <input class="col-sm-10 " class="form-control"name="date" type="datetime-local" required="required">
            </div>

            <div class="form-group row required">
                <label class="col-sm-2 control-label" for="location"> Location: </label>
                <select class="col-sm-10" class="form-control" name="location" required="required">
                    {{#locations}}
                        <option value="{{_id}}"> {{location}}</option>
                    {{/locations}}
                </select>
            </div>

            <div class="form-group required ">
                <label class="control-label">Reported By:</label>
                <label class="form-check">
                    <input type="radio" name="reporterRole"
                           required="required">Student</label>
                <label class="form-check">
                    <input type="radio" name="reporterRole" checked required="required">Staff
                </label><br/>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="lookup"> Reporter Name: </label>
                <select class="col-sm-10" class="form-control" name="reporterName">
                    {{#students}}
                        <option value="{{_id}}">{{studentId}} {{firstName}} {{lastName}}</option>
                    {{/students}}
                </select>
            </div>

            <div class="form-group row required">
                <label class="col-sm-2 control-label" for="state"> State: </label>
                <select class="col-sm-10" class="form-control" name="status" required="required">
                    {{#statuses}}
                        <option value="{{_id}}" > {{status}}</option>
                    {{/statuses}}
                </select>
            </div>


            <div class="form-group required">
                <label for="description" class='col-sm-2 control-label'>Description:</label>
                <textarea class="col-sm-10" name="description" rows="5" cols="30"
                          required="required"></textarea>
            </div>

            <div class="form-group">
                <label value="{{_id}}" name="note">Notes:</label>
                <button onclick="addNote()">Add Note</button>
            </div>

            <div class="form-group">
                <label value="{{_id}}" name="penalty">Penalty :</label>
                <button onclick="addPenalty()">Add Penalty</button>
            </div>

            <div class="form-group">
                <label value="{{_id}}" for="attachments">Attachments:</label>
                <input type=text  onclick="addAttachment()">
                <input name="attachments" value="{{_id}}" type="file"></input>
                <button>Add Attachment</button>
            </div>

            <div>
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-default">Rest</button>
            </div>

        </fieldset>
    </form>

</div>

<script src="views/js/incidentEditor.js"></script>