<br>
<form method="post">
    <fieldset class=form-group">

        <div class="form-group row required">
            <label> Student: </label>
            <select name="students" required="required">
                {{#students}}
                    <option value="{{_id}}"> {{studentId}} - {{firstName}} {{lastName}}</option>
                {{/students}}
            </select>
            <button onclick="addStudent()">Add Student</button>
        </div>

        <div class="form-group row required">
            <label> Type of Incident: </label>
            <select name="type"required="required">
                {{#incidentType}}
                    <option value="{{_id}}"> {{type}}</option>
                {{/incidentType}}
            </select>
        </div>

        <div class="form-group row required">
            <label >Date:</label>
            <input  name="date" type="datetime-local" required="required">
        </div>

        <div class="form-group row required">
            <label class="col-sm-2 control-label" > Location: </label>
            <select name="location" class="col-sm-10" class="form-control" required="required">
                {{#locations}}
                    <option value="{{_id}}"> {{location}}</option>
                {{/locations}}
            </select>
        </div>

        <div class="form-group required ">
            <label class="control-label">Reported By:</label>
            <label class="form-check">
                <input id="studentChecked" onclick="lookup()" type="radio" name="reporter"
                       required="required">Student</label>
            <label class="form-check">
                <input id="staffChecked" onclick="lookup()" type="radio" name="reporter" checked
                       required="required">Staff
            </label><br/>
        </div>

        <div id="reporterDetails"></div>


        <div class="form-group row required">
            <label> State: </label>
            <select name="status" class="form-control" required="required">
                {{#status}}
                    <option value="{{_id}}"> {{status}}</option>
                {{/status}}
            </select>
        </div>


        <div class="form-group required">
            <label  class='col-sm-2 control-label'>Description:</label>
            <textarea class="col-sm-10" name="incidentDescription" rows="5" cols="30"
                      required="required"></textarea>
        </div>

        <div class="form-group" name="attachments" value="{{_id}}">
            <label > Attachment title: </label>
            <input class="input-group" name="attachmentTitle" type=text>
            <label >Date:</label>
            <input class="input-group" name="attachmentAddedOn"  type="datetime-local">
            <input class="input-group" class="form-control" name="attachmentUrl" type="file">
            <br>
            <button onclick="addAttachment()">Add Attachment</button>
        </div>

        <div class="form-group" name="penalties" value="{{_id}}">
            <label > Penalty type: </label>
            <select name="penaltyType" class="form-control" required="required">
                {{#penaltyTypes}}
                    <option value="{{_id}}"> {{type}}</option>
                {{/penaltyTypes}}
            </select>
            <label >Date:</label>
            <input class="input-group" name="penaltyAddedOn" type="datetime-local">
            <label >Description:</label>
            <textarea name="penaltyDescription" rows="5" cols="30"></textarea>
            <br>
            <button onclick="addPenalty()">Add Penalty</button>
        </div>

        <div class="form-group" name="notes" value="{{_id}}">
            <label > Note title: </label>
            <input class="input-group" name="noteTitle" type=text>
            <label >Date:</label>
            <input class="input-group" name="noteAddedOn" type="datetime-local">
            <label >Note Body:</label>
            <textarea name="noteBody" rows="5" cols="30"></textarea>
            <br>
            <button onclick="addNote()()">Add Note()</button>
        </div>

        <div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Rest</button>
        </div>

    </fieldset>
</form>

</div>

<script src="views/js/incidentEditor.js"></script>