<h1>Incidents Summary Report</h1>
<h4>Enter Date</h4>
<form name=summaryReport>

    <div id="report">
        <!--<span>-->
        <b>From:</b><input type="date" id="from" name="from">
        <b>To:</b><input type="date" id="to" name="to">

        <input type=button value="Refine" onclick="refineDate()">
        <input type=button value="Reset" onclick="resetData()">
        <!--</span>-->
    </div>
</form>

<div id="gradeLevelDiv">
    <h4>Incident summary based on Grade Level</h4>
    <table class="table table-striped" id="gradeLevelList"></table>
    {{#incidentsByGrade}}
        <tr>
            <td>{{date}}</td>
            <td>{{incidentDescription}}</td>
        </tr>
    {{/incidentsByGrade}}
</div>

<!--script-->

<div id="locationDiv">
    <h4>Incident summary based on location</h4>
    <table class="table table-striped" id="locationList"></table>
    {{#incidentsByLocation}}
        <tr>
            <td>{{date}}</td>
            <td>{{incidentDescription}}</td>
        </tr>
    {{/incidentsByLocation}}
</div>

<div id="typeDiv">
    <h4>Incident summary based on type</h4>
    <table class="table table-striped" id="typeList"></table>
    {{#incidentsByType}}
        <tr>
            <td>{{date}}</td>
            <td>{{incidentDescription}}</td>
        </tr>
    {{/incidentsByType}}
</div>


<script src="views/js/reports.js"></script>
